<h1> Please enter your personal information</h1>
<form>


  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="fname" ngModel name="firstname" #firstName="ngModel" type="text" class="form-control"
             id="firstName"
             placeholder="Jack" required pattern="^[a-zA-Z \-\']+">
      <div class="textsAlert" *ngIf="firstName.errors?.pattern">
        First name should only consist of letters
      </div>

      <div class="textsAlert" *ngIf="!firstName.valid">
        First name is required
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="lastname">Last Name</label>
      <input [(ngModel)]="lname" ngModel name="lastname" #lastName="ngModel" type="text" class="form-control"
             id="lastname"
             placeholder="Smith" required pattern="^[a-zA-Z \-\']+">
      <div class="textsAlert" *ngIf="lastName.errors?.pattern">
        Last name should only consist of letters
      </div>

      <div class="textsAlert" *ngIf="!lastName.valid">
        Last name is required
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="phone">Phone number</label>
      <input [(ngModel)]="phoneNumber" ngModel name="phone" #phonenr="ngModel" type="text" class="form-control"
             id="phone"
             placeholder="1234567" required pattern="^[0-9]*$" minlength="6">
      <div class="textsAlert" *ngIf="phonenr.errors?.pattern">
        Phone number should only consist of digits
      </div>
      <div class="textsAlert" *ngIf="phonenr.errors?.minlength">
        Phone number should consist of at least 6 numbers
      </div>
      <div class="textsAlert" *ngIf="!phonenr.valid">
        Phone number is required
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <label for="email">E-mail address</label>
      <input [(ngModel)]="email" ngModel name="email" #emailAddress="ngModel" type="text" class="form-control"
             id="email"
             placeholder="example@gmail.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <div class="textsAlert" *ngIf="emailAddress.errors?.pattern">
        Email addres is not matching pattern username@post.abc
      </div>
      <div class="textsAlert" *ngIf="!emailAddress.valid">
        E-mail address is required
      </div>
    </div>

  </div>
  <button [routerLink]="['/bookingSucceed']"
          [disabled]="firstName.invalid || lastName.invalid || emailAddress.invalid || phonenr.invalid"
          class="btn btn-dark" type="submit"
          (click)="createPassenger()"
          style="color: white;">Submit
    form
  </button>
</form>
