.card {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto auto 100px;
}

h3 {
  text-align: center;
  margin-top: 50px;
}

p {
  font-family: Arial, sans-seriff, cursive;
}

body {
  margin-top: 100px;
}

button {
  margin-top: 80px;
}

.space {
  background-image: url("http://cdn.eso.org/images/screen/eso1213a.jpg");
}


