
<div class="headerz">
  <h1 style="color:white; font-family: Arial, serif">Booking succeed!</h1>
  <h5 style="color:white;">Here is your ticket information. To see it, move your mouse over the ticket</h5>
</div>

<div class="container">
  <div class="content">
    <h1>Your ticket to the</h1>
    <h6>Passenger's First name:</h6>
    <h6>Passenger's Last name:</h6>
    <h6>Passenger's Phone:</h6>
    <h6>Passenger's E-mail:</h6>
    <h6>Booked seat in ship : </h6>
    <h6>Flight route: from to</h6>


  </div>
  <div class="flap"></div>
</div>
