<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="container" *ngIf="currentUser; else loggedOut">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">

              <div class="card-body">
                <a class="btn btn-primary btn-round btn-lg btn-block disabled">
                  <strong>Username:</strong>
                  {{ currentUser.username }}
                </a>
                <a class="btn btn-primary btn-round btn-lg btn-block disabled">
                    <strong>Email:</strong>
                    {{ currentUser.email }}
                </a>
                <a class="btn btn-primary btn-round btn-lg btn-block disabled">
                  <strong>Roles:</strong>
                  <ul>
                    <li *ngFor="let role of currentUser.roles">
                      {{ role }}
                    </li>
                  </ul>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
