<nz-layout>
  <nz-content class="outer-content">

    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <div nz-row [nzGutter]="[8,8]" style="margin-top: 20px;" nzAlign="middle" nzJustify="center">
          <nz-col *ngFor="let seat of seats">
            <ng-container [ngSwitch]="true">
              <div *ngSwitchCase="isBeingReserved&&!seat.reserved">
                <button class="button" nz-button nzType="dashed" nzShape="circle" disabled
                        (click)="addOrRemoveSeatFromCart(seat)">
                  {{seat.id}}
                </button>
              </div>
              <div *ngSwitchCase="seat.reserved">
                <button class="button" nz-button nzType="primary" nzShape="circle"
                        (click)="addOrRemoveSeatFromCart(seat)">
                  {{seat.id}}
                </button>
              </div>
              <div *ngSwitchDefault>
                <button class="button" nz-button nzType="dashed" nzShape="circle"
                        (click)="addOrRemoveSeatFromCart(seat)">
                  {{seat.id}}
                </button>
              </div>
            </ng-container>
          </nz-col>
        </div>
      </nz-sider>

      <nz-content class="inner-content">
        <span nz-typography nzType="secondary">Please click on the seat you would like to reserve.
          To cancel your choice, please click on the same seat again.</span>
        <br>
        <nz-space nzDirection="vertical">
          <nz-card *nzSpaceItem nzTitle="The seat in your cart:" style="width: 300px">
            <div *ngFor="let item of chosen">
              <b>{{item.id}}</b>
            </div>
          </nz-card>
        </nz-space>
        <br>
        <button *ngIf="chosen.length != 0; else elseBlock"
                style="color: white;"
                [routerLink]="['/flights',flightId,'form']" [state]="chosen"
                type="button" class="btn button btn-dark">Confirm booking
        </button>
        <ng-template #elseBlock>
          <button disabled style="color: white;"
                  type="button" class="btn button btn-dark">Confirm booking
          </button>
        </ng-template>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
