<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" *ngIf="nasaImgObj">

  <mdb-carousel-item>
  <img
    class="d-block w-100 p-3 mx-auto cssCenterImage"
    [src]="nasaImgObj.hdurl"
    alt="NASA API photo of the day"
    *ngIf="nasaImgObj.media_type === 'image'"
  />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100 p-3 mx-auto" src="assets\img\Grad_ZarandiRocket_BannerImage_1500x650_iStock-487797752.jpg"
         alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100 p-3 mx-auto"
         src="assets\img\https___specials-images.forbesimg.com_imageserve_5ef62ea1accb250006414e6a_0x0.jpg"
         alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-75 p-3 mx-auto" src="assets\img\ff .png" alt="First slide">
  </mdb-carousel-item>
</mdb-carousel>
